body {
  font-family: 'Luckiest Guy', cursive;
}

.game-box {
  width: 600px;
  height: 375px;
  background: #444444;
  margin: 20px auto 10px auto;
  padding-top: 30px;
  border: 2px solid silver;
  border-radius: 15px;
}

.screen {
  width: 500px;
  height: 200px;
  background: silver;
  margin: 0 auto 5px auto;
  border: 2px solid black;
  border-radius: 15px;
  text-align: center;
  line-height: 80px;
  font-size: 75px;
}

.button-box {
  width: 550px;
  height: 70px;
  margin: 0 auto;
  text-align: center;
}

button {
  height: 60px;
  width: 120px;
  border-radius: 10px;
  color: white;
  font-size: 20px;
  font-family: 'Luckiest Guy', cursive;
  margin: 0 7px;
}

.red {
  background: red;
}

.green {
  background: green;
}

.blue {
  background: blue;
}

.purple {
  background: purple;
}

.score {
  width: 500px;
  height: 40px;
  margin: 35px auto 15px auto;
  text-align: center;
  font-size: 40px;
  color: white;
  line-height: 30px;
}

.start-button {
  width: 600px;
  height: 50px;
  margin: 0 auto;
}

.start {
  width: 175px;
  color: maroon;
  background: lightblue;
  text-align: center;
  margin: 0;
  line-height: 55px;
  float: left;
  font-size: 25px;
}

.timer {
  height: 57px;
  width: 100px;
  color: lightblue;
  background: maroon;
  float: right;
  margin: 0;
  line-height: 70px;
  text-align: center;
  font-size: 40px;
  border-radius: 10px;
  border: 2px solid silver;
}

.copyright {
  width: 600px;
  margin: 0 auto;
  text-align: right;
}
